.divPlayButton{
    background-color: lightseagreen; /* goldenrod */
    width: 35px;
    min-width: 35px;
    height: 35px;
    min-height: 35px;
    /*border: 1px black solid;*/
    border-radius: 15px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.divPlayButton > img{
    vertical-align: middle;
}